#menu{
    z-index: 20;
    position: sticky;
    background-color: var(--red);
    background-color: greenyellow;
    width: 100%;
    height: 9vh;
    overflow: hidden;
    text-align: center;
    top: 0vw;
    border: 0px;
}

button{
    border: 0px;
    background-color: greenyellow;
    width: 17vw;
    margin: 0px;
    height: 2.8vw;
    font-size: large;
    cursor: pointer;
}
body{
    background-color: rgb(3, 182, 33);
}

#BM{
    width: 72vw;
    filter: grayscale(20%);
}
#CFC{
    width: 72vw;
    filter: grayscale(20%);
}
#RM{
    width: 72vw;
    filter: grayscale(20%);
}
#FCB{
    width: 72vw;
    filter: grayscale(20%);
}

footer{
    margin-left: 1vw;
    padding-top: 1vw;
    background-color: white;
    font-size: 1vw;
    height: 9vh;
    margin-left: 0%;
}

#skladFCB{
    height: 50vw;
    right: 8px;
}
#skladCFC{
    height: 41vw;
    right: 8px;
}
#skladRM{
    height: 41vw;
    right: 8px;
}
#skladFCBM{
    height: 48vw;
    right: 8px;
}